@import "./variaveis.css";

#nameError,
#emailError,
#cellError,
#cityError {
  display: none;
  font-size: 0.8em;
}

#nameError.visible,
#emailError.visible,
#cellError.visible,
#cityError.visible {
  display: block;
  color: var(--error);
}

input.invalid {
  border-color: var(--error) !important;
}

/* input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
input[type=number] {
 -moz-appearance: textfield;
 appearance: textfield;

} */
