:root {
    --azul-celeste: #AEFEFF;
    --branco      : #FDFDFD;
    --cinza       : #CCC;
    --error       : #d11507;
    --preto       : #090910;
    --primary     : #00000055;
    --verde       : #35858B;
    --verde-claro : #4FBDBA;
    --verde-escuro: #072227;
    --verde-vivo  : #5FD068;
    --vermelho    : #D61C4E;
}
